.vista-facturacion.active {
	transform: translateX(0);
	z-index: 250;
}

.header-facturacion {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 4rem;
	margin: 1rem 0;

	& .form-titulo {
		width: 500px;
		margin-bottom: 0;
		padding-bottom: 0.3rem;
		border-bottom: solid 2px var(--gris-medio);
		color: var(--rojo-suave);
	}
}
