.estadisticas {
  background: var(--gris-oscuro);
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  .contenido-estadisticas {
    height: 85%;
    width: 90%;
    background: var(--blanco);
    border-radius: 5px;
  }
}