*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--text-font);
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: var(--title-font);
  font-weight: normal;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}