.contenedor-vista-cargar-producto.active {
	transform: translateX(0);
}

.header-agregar-producto {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 4rem;
	margin: 1rem 0;

	& .form-titulo {
		width: 500px;
		margin-bottom: 0;
		padding-bottom: 0.3rem;
		border-bottom: solid 2px var(--gris-medio);
		color: var(--rojo-suave);
	}
}

.form-producto {
	width: 80%;
	margin: 3rem 0rem 0 8rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	// gap: 4rem;

	.form-inputs-contenedor {
		& > div {
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		& > div > label {
			font-family: var(--title-font);
			text-transform: capitalize;
			min-width: 200px;
			width: 300px;
			text-align: right;
			margin-right: 1rem;
		}

		& > div > input,
		& > div > select {
			min-width: 300px;
			height: 35px;
			border: solid 2px var(--gris-medio);
			border-radius: 5px;
		}

		div > input {
			padding-left: 0.5rem;
		}
	}

	.boton-submit {
		border: none;
		background-color: var(--green);
		width: 250px;
		height: 100px;
		color: var(--blanco);
		transition: transform ease-in-out 0.3s;
		align-self: flex-end;
		border-radius: 5px;
		cursor: pointer;

		&:hover {
			transform: scale(1.03);
			// border: solid 10px var(--gris/-claro);
		}
	}
}
