.stock-minimo {
  // background-color: var(--gris-claro);
  padding: .5rem;
  width: 99%;
  margin-bottom: 3rem;
  border-radius: 5px;
  border: solid 1px var(--gris-medio);

  .stock-minimo-titulo {
    text-align: center;
    color: var(--rojo-suave);
    margin-bottom: 2rem;
  }

  & hr {
    margin: 0 auto 1rem;
    width: 90%;
    border-color: var(--rojo-suave);
    opacity: .2;

  }
  
  .contenedor-productos-stock-minimo {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem 1rem ;
    
    .contenedor-producto-bajo-stock {
      // height: 150px;
      min-width: 200px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      text-align: left;
      border-right: 1px solid var(--gris-medio);

      .titulo-producto {
        font-size: 14px;
      }

      .texto-producto {
        font-size: 13px;
        color: var(--blanco);
        margin: 0;
        padding: 3px;
        width: 80%;

        & b{
          font-weight: bold;
          font-family: var(--title-font);
          margin-left: 5px;
        }

        &.producto-stock-minimo {
          background-color: var(--yellow);
          margin-bottom: 5px;
        }
        &.producto-stock-actual {
          background-color: var(--rojo-suave);
        }
      }
      
    }
  }
}