.tabla-productos {
  width: 100%;
  margin: 1rem 0;
  padding: 0 0 2rem;
  
  thead {
    th {
      background-color: var(--rojo-suave);
      height: 50px;
      color: white;
      font-family: var(--title-font);
      padding-left: .1rem;
      text-transform: uppercase;
      border-right: solid 1px #e1e1e150;
    }
    
  }
  
  .num {
    text-align: center;
  }
  .nombre-column {
    width: 300px;
  }
  .descripcion-column {
    width: 250px;
  }
  .categoria-column {
    width: 90px;
  }
  .stock-minimo-column {
    width: 70px;
  }
  .iva-column {
    width: 40px;
  }
  
  tbody {
    
    tr {
      height: 75px;
      border-bottom: 1px solid var(--gris-claro);
      
      td {
        padding: 0 10px;
        min-width: 40px;
      }
    }

    tr:hover {
      background: rgba($color: #EC255A, $alpha: .05);
    }
    
  }

  .boton-column {
    
    button {
      color: white;
      height: 100%;
      width: 40px;
      border: none;
      border-radius: 5px;
      padding: .5rem;
      font-size: 16px;
    }

    .boton-editar {
      background: var(--gris-oscuro);
    }
    .boton-eliminar {
      background: #a0163b;
    }
  }
}